<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="address" class="Address">
		<property name="city" value="Kocaeli"></property>
		<property name="street" value="İzmit"></property>
	</bean>

	<bean id="person1" class="Person" autowire="byName">
		<property name="name" value="Burak Köken"></property>
		<property name="age" value="23"></property>
		<!-- <property name="address" ref="addresss"></property> -->
	</bean>
	
	<bean id="employee1" class="Employee" autowire="constructor">
		<property name="name" value="Burak Köken"></property>
		<property name="salary" value="4500"></property>
		<!--  
			<constructor-arg ref="address"></constructor-arg>
		-->
	</bean>
</beans>
